@{
    ViewBag.Title = "About Me";
}

<h1 class="col-md-12 text-center" id="aboutDiv">@ViewBag.Title</h1>

<div class="content-wrapper">
    <div class="col-md-1"></div>
    <div id="imgDiv" class="col-md-5">
        <img src="~/Content/images/Profile.jpg" />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h1 id="aboutText">
            <br />
            <br />
            <br />
            <br />
            My name is Czako Zoltan, I'm a 3rd year student at the Technical University of Cluj-Napoca.
            I'm learning Computer Science. My hobbies are football, volley, ping-pong, swimming, reading, boling and billiard.
            I also like to listen to music and to dance.
        </h1>
    </div>

</div>